* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: rgb(0, 0, 0);
  color: white;
}

html {
  margin: 0 1em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 60px;
  padding: 10px 40px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);

  .navbar-left {
    background-color: rgba(0, 0, 0, 0);
  }

  .navbar-right {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
  }

  .navbar-button {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
    color: white;
    border: none;
    font-size: 24px;
    font-weight: 2;
    cursor: pointer;
  }

  .navbar-button:hover {
    text-decoration: underline;
  }
}

#download-button {
  margin-left: 30px;
}

#logo {
  width: 10%;
  margin-top: 10px;
}

#hook {
  margin: 4% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2rem;

  h1 {
    margin: 2rem;
  }
  h2 {
    font-weight: 2;
  }
}

.buttons-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

#koffeetable-btn {
  background-color: #febd69;
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(255, 170, 102, 0.5);
  transition: all 0.3s ease;
}

#koffeetable-btn:hover {
  box-shadow: 0px 5px 20px rgba(255, 170, 102, 0.8);
}

#learnmore-btn {
  color: #d4d4d4;
  border: none;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s ease;
}

#learnmore-btn:hover {
  transform: scale(1.2);
  font-size: 26px;
}

#image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;

  iframe {
    width: 90%;
    min-height: 53rem;
    border-radius: 20px;
    overflow-y: hidden;
  }
}

#features-wrapper {
  margin: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: 2;
  }
}

#features {
  display: flex;
  margin: 0 15%;
  gap: 1.5em;
  align-items: center;
  justify-content: center;

  .feature-box {
    width: 100%;
    height: 20rem;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    transition: box-shadow 0.3s ease-in-out;
    text-align: center;
    height: 40rem;
    width: 20rem;

    h1 {
      background: rgba(109, 109, 109, 0.7);
    }

    h3 {
      font-size: 2rem;
      font-weight: 2;
      background: rgba(109, 109, 109, 0.7);
    }
  }

  .feature-box:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), 0 0 40px rgba(236, 236, 236, 0.5);
  }
}

.FAQ-container {
  margin: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3.5rem;
  }
}

#footer {
  background-color: rgb(34, 33, 36); 
  margin: -1rem -1.5rem;

  .footer-container {
    display: grid;
    column-gap: 1em; 
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;

    background-color: rgb(34, 33, 36);
    padding: 0 25%;

    #koffee-table-footer {
      background-color: rgb(34, 33, 36);

      h1 {
        font-size: 1.5em;
        background-color: rgb(34, 33, 36);
      }

      h2 {
        font-size: 1.2em;
        background-color: rgb(34, 33, 36);
        font-weight: 2;
      }

      .logos {
        display: flex;
        gap: 1rem;
        background-color: rgb(34, 33, 36);

        svg{
          height: 2rem;
          width: 2rem;
          background-color: rgb(34, 33, 36);
          transition: transform 0.2s ease-in-out;
        }

        svg:hover{
          cursor:pointer;
          transform: scale(1.1);
        }
      }
    }

    .company-footer {
      display: flex;
      flex-direction: column; 
      background-color: rgb(34, 33, 36);
      h1{
        background-color: rgb(34, 33, 36);
        font-size: 1.2em; 
      }
      h3 {
        background-color: rgb(34, 33, 36);
        font-size: 1em; 
        font-weight: 2;
        margin: 0.5em 0em; 
      }
      h3:hover{
        cursor:pointer;
      }
      button {
        height: 2.5rem;
        width: 12rem;
        border-radius: 10px;
        border: 0;
        background-color:rgba(236, 236, 236, 0.63);
        color: rgb(34, 33, 36);
        font-size:0.8em;
      }
      button:hover{
        cursor:pointer;
        background-color:rgba(236, 236, 236, 0.76);
      }
    }
  }
}

#trademark {
  padding: 1em; 
  font-size: 1em; 
  background-color: rgb(34, 33, 36);
  text-align: center;
}
