// @import "~/bootstrap/scss/bootstrap";

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: rgb(0, 0, 0);
  color: white;
}

html {
  margin: 0 1em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 40px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);

  .navbar-left {
    background-color: rgba(0, 0, 0, 0);
  }

  .navbar-right {
    background-color: rgba(0, 0, 0, 0);
  }

  .navbar-button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    font-size: 24px;
    font-weight: 2;
    margin-left: 10px;
    cursor: pointer;
  }

  .navbar-button:hover {
    text-decoration: underline;
  }
}

#hook {
  margin: 10rem 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2rem;

  h2 {
    font-weight: 2;
  }
}

.buttons-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

#koffeetable-btn {
  background-color: #febd69;
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(255, 170, 102, 0.5);
  transition: all 0.3s ease;
}

#koffeetable-btn:hover {
  box-shadow: 0px 5px 20px rgba(255, 170, 102, 0.8);
}

#learnmore-btn {
  color: #d4d4d4;
  border: none;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s ease;
}

#learnmore-btn:hover {
  transform: scale(1.2);
  font-size: 26px;
}

#image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  iframe {
    width: 90%;
    min-height: 66rem;
    border-radius: 40px;
  }
}

#features-wrapper {
  margin: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: 2;
  }
}

#features {
  display: flex;
  margin: 0 20%;
  gap: 1.5em;
  align-items: center;
  justify-content: center;

  .feature-box {
    width: 100%;
    height: 20rem;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    transition: box-shadow 0.3s ease-in-out;
    text-align: center;
    height: 40rem; 
    width: 20rem; 

    h1 {
      background:rgba(109, 109, 109, 0.7)
    }

    h3 {
      font-size: 2rem; 
      font-weight: 2; 
      background:rgba(109, 109, 109, 0.7)
    }
  }

  .feature-box:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), 0 0 40px rgba(236, 236, 236, 0.5);
  }
}

.FAQ-container {
  margin: 5em;
  padding: 0em 15vw; 
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 3.5rem;
  }

  p, li {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.75rem;
  }

  .faq-title {
    display: flex;
    justify-content: center;
  }
}
